@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Libre+Bodoni);
.intro{
font-family: 'Trebuchet MS', Verdana, serif;
color: #373554;
}
.meat{
font-family: 'Libre Bodoni', serif;
color: #34324a;
}
body{
background-image: url('white-2484120_1280');
}
