@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Libre+Bodoni);
.intro{
font-family: 'Trebuchet MS', serif;
color: #373554;
}
.meat{
font-family: 'Trebuchet MS', serif;
color: #34324a;
}
body{
  font-family: 'Trebuchet MS', serif;
}
